{% load static %}
<!--Mobile Menu-->
<nav id="main-nav">
    <ul class="first-nav">
        <li><a href="{% url 'home' %}">Главная</a> </li>
        <li class="sbmenu rpdropdown"><a href="#" class="menu-links">Мы</a>
            <div class="nx-dropdown menu-dorpdown">
                <div class="sub-menu-section">
                    <div class="sub-menu-center-block">
                        <div class="sub-menu-column smfull">
                            <ul>
                                <li>
                                    <a href="/about/">О нас</a>
                                </li>
                                <li>
                                    <a href="{% url 'team' %}">Наша Команда</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="sbmenu"><a href="{% url 'portfolio' %}" class="menu-links">Портфолио</a></li>
		<li class="sbmenu"><a href="{% url 'service' %}" class="menu-links">Услуги</a></li>
        <li class="sbmenu rpdropdown"><a href="#" class="menu-links">Языки</a>
            <form action="#" class="nx-dropdown menu-dorpdown">
                <div class="sub-menu-section">
                    <div class="sub-menu-center-block">
                        <div class="sub-menu-column smfull">
                            <ul>
                                <li>
                                    <button type="submit" class="form-control">Русский</button>
                                </li>
                                <li>
                                    <button type="submit" class="form-control">English</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </li>
    </ul>
    <ul class="bottom-nav">
        <li class="prb">
            <a href="tel:+996703016683">
                <i class="fas fa-phone"  style="font-size: 18px"></i>
            </a>
        </li>
        <li class="prb">
            <a href="mailto:enigmadevkg@gmail.com" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="24" viewBox="0 0 24 24"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </a>
        </li>
        <li class="prb">
            <a href="https://t.me/edzn21" target="_blank">
                <i class="fab fa-telegram" style="font-size: 20px"></i>
            </a>
        </li>
    </ul>
</nav>