{% include 'header.html' %}
<!--Start Hero-->
<section class="hero-card-web bg-gradient12 shape-bg3">
    <div class="hero-main-rp container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="hero-heading-sec">
                    <h2 class="wow fadeIn" data-wow-delay="0.3s">
                        <span>Web.</span>
                        <span>Mobile.</span>
                        <span>Graphic.</span>
                        <span>Marketing.</span>
                    </h2>
                    <p class="wow fadeIn" data-wow-delay="0.6s">
                        Решение для разработки веб-сайтов и приложений для преобразования и
                        внедрения инноваций в бизнес.
                    </p>
                    <a href="#" class="btn-main bg-btn lnk wow fadeIn"  data-wow-delay="0.8s">
                        Посмотреть наши работы
                        <i class="fas fa-chevron-right fa-ani"></i><span class="circle"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-right-scmm">
                    <div class="hero-service-cards wow fadeInRight" data-wow-duration="2s">
                        <div class="owl-carousel service-card-prb">

                            {% for service_one in service_list %}

                            <div class="service-slide card-bg-{{service_one.backg}}" data-tilt
                                 data-tilt-max="5" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="{{service_one.image.url}}">
                                        </div>
                                        <div class="title-serv-c">{{service_one.title}}</div>
                                    </div>
                                </a>
                            </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Hero-->
<!--Start About-->
<section class="about-sec-rpb pad-tb">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-10">
                <div class="common-heading">
                    <h1 class="mb30">
                        <span class="text-second">Компания по разработке</span>
                        мобильных и веб-приложений с лучшим качеством
                    </h1>
                    <p>Lorem Ipsum is  text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.  is simply dummy text of the printing and typesetting industry. is simply dummy text of the printing and typesetting industry.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--End About-->
<!--Start Service-->
<section class="service-section-prb pad-tb">
    <div class="container">
        <div class="row upset">

            {% for service_two in service_list %}

            <div  data-tilt data-tilt-max="5" data-tilt-speed="1000"
                  class="col-lg-3-cus wow fadeInUp" data-wow-delay=".4s">
                <div class="service-sec-list srvc-bg-nx {{service_two.back_fon}}">
                    <img src="{{service_two.photo.url}}" alt="service">
                    <a href="#"><h5 class="mb10">{{service_two.title}}</h5></a>
                    <ul class="-service-list">
                        <li> <p >{{service_two.tools_used_one}}</p> </li>
                        <li> <p >{{service_two.tools_used_two}}</p> </li>
                        <li> <p >{{service_two.tools_used_three}}</p> </li>
                        <li> <p >{{service_two.tools_used_four}}</p></li>
                    </ul>
                    <p>{{service_two.description|truncatewords_html:10|safe}}</p>
                </div>
            </div>

             {% endfor %}

        </div>
        <div class="-cta-btn mt70">
            <div class="free-cta-title v-center zoomInDown wow" data-wow-delay="1.4s">
                <p>Нанять <span>Крутых разработчиков</span></p>
                <a href="https://wa.me/+996771494083" class="btn-main bg-btn2 lnk">Нанять сейчас
                    <i class="fas fa-chevron-right fa-icon"></i>
                    <span class="circle"></span>
                </a>
            </div>
        </div>
    </div>
</section>
<!--End Service-->

<!--Start statistics-->
<div class="statistics-section bg-gradient6 pad-tb tilt3d">
    <div class="container">
        <div class="row justify-content-center t-ctr">

            {% for stat in static_list %}

            <div class="col-lg-3 col-sm-6">
                <div class="statistics">
                    <div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img">
                        <img src="{{stat.image.url}}" alt="{{static.title}}" class="img-fluid" />
                    </div>
                    <div class="statnumb">
                        <span class="counter">{{stat.number}}</span><span>+</span>
                        <p>{{stat.title}}</p>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>
<!--End statistics-->

<!--Start Portfolio-->
<section class="portfolio-section pad-tb">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-8">
                <div class="common-heading">
                    <span>Our Work</span>
                    <h2 class="mb0">Our Latest Creative Work</h2>
                </div>
            </div>
        </div>
        <div class="row">

            {% for portfolio in portfolio_list %}

            <div class="col-lg-4 col-sm-8 mt60 wow fadeInUp" data-wow-delay="{{portfolio.speed}}s">
                <div class="isotope_item hover-scale">
                    <div class="item-image" data-tilt data-tilt-max="2" data-tilt-speed="1000">
                        <a href="#"><img src="{{portfolio.image.url}}" alt="image" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info">
                        <h4><a href="#">{{portfolio.title}}</a></h4>
                        <p>{{portfolio.project_cat}}</p>
                    </div>
                </div>
            </div>

            {% endfor %}

            <div class="col-lg-12 col-12 col-md-12 text-center mt-5">
                <a href="#" class="btn btn-outline">Посмотреть все проекты</a>
            </div>
        </div>
    </div>
</section>
<!--End Portfolio-->

<!--Start work-category-->
<section class="work-category pad-tb">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 v-center">
                <div class="common-heading text-l">
                    <span>Industries we work for</span>
                    <h2>Helping Businesses in All Domains</h2>
                    <p>Successfully delivered digital products Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="work-card-set">

                    {% for help in help_list %}

                    <div  class="icon-set wow fadeIn" data-wow-delay="{{help.speed}}s">
                        <div class="work-card {{help.backg}}">
                            <div class="icon-bg"><img src="{{help.image.url}}" alt="{{help.title}}" /></div>
                            <p>{{help.title}}</p>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
<!--End  work-category-->

{% include 'footer.html' %}