{% include 'include/header.html' %}

{% include 'include/breadcrumbs_page_team.html' %}

<!--Start Team Members-->
<section class="team pad-tb deep-dark">
    <div class="container">
        <div class="row">

            {% for team in team_list %}

            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div">
                        <a href="{{team.get_absolute_url}}">
                            <img src="{{team.image.url}}" alt="{{team.title}}" class="img-fluid"/>
                        </a>
                    </div>
                    <div class="info-text-block">
                        <h4><a href="{{team.get_absolute_url}}">{{team.title}}</a></h4>
                        <p>{{team.subtitle}}</p>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>
<!--End Team Members-->

{% include 'include/footer.html' %}